 <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Qui sommes-nous ?</h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{path('app_home')}}">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  A propos
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End Intro Single-->

    <!-- ======= About Section ======= -->
    <section class="section-about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 position-relative">
            <div class="about-img-box">
              <img src="assets/img/slide-about-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="sinse-box">
              <h3 class="sinse-title">EstateAgency
                <span></span>
                <br> depuis 2017
              </h3>
              <p>LE CONCEPT IMMOBILIER</p>
            </div>
          </div>
          <div class="col-md-12 section-t8 position-relative">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <img src="assets/img/about-2.jpg" alt="" class="img-fluid">
              </div>
              <div class="col-lg-2  d-none d-lg-block position-relative">
                <div class="title-vertical d-flex justify-content-start">
                  <span>EstateAgency Exclusive Property</span>
                </div>
              </div>
              <div class="col-md-6 col-lg-5 section-md-t3">
                <div class="title-box-d">
                  <h3 class="title-d">Futur Achat ou Location ?
                    <span class="color-d">N°1 du coaching immobilier</span>
                    <br> Choisissez votre formule
                  </h3>
                </div>
                <p class="color-text-a">
                  1ère Agence immobilière digitale au Maroc !
                    Basée à Casablanca et spécialisée dans la communication et le coaching immobilier entre particuliers, IMMOBILIO est la 1ère Start-up qui brise la barrière de la commission dans les transactions immobilières et propose une panoplie de biens immobiliers, aux acheteurs ou locataires potentiels, tout en dépensant les moindres frais : 0% de commission à l’achat & 0 mois en frais d’agence !
                </p>
                <p class="color-text-a">
                  
                    Découvrez Nos Packs
                    Dans un marché immobilier très concurrentiel, la communication digitale n’est plus une option mais une nécessité !

                    En étant à l’écoute du marché, IMMOBILIO.MA offre un concept à la fois innovant et économique
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
